body{
    background-color: #d1fff4;
}
#score{
font-size: 18px;
margin-right: 1000px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#timer{
    font-size: 18px;
    margin-left: 1000px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#your_sketch{
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#to_be_done_sketch{
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}

#confidence{
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#to_be_done_sketch{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#show_sketch{
    float: right;
}